# Android Studio
.idea/
.gradle
!build.gradle
build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

# Windows thumbnail db
Thumbs.db

# Crashlytics export string
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Additionnal files
gradlew
gradlew.bat
local.properties

# Ignore importExport script
importExport.php
importExport_credentials.php
