<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.chteuchteu.munin"
	android:versionCode="36"
	android:versionName="3.2.1" >

	<!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.VIBRATE"/>

	<!-- Bug Fix (font size with locale) -->
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true" />

	<application
		android:allowBackup="true"
		android:configChanges="locale|layoutDirection"
		android:icon="@drawable/launcher_icon"
		android:label="@string/app_name"
		android:theme="@style/MyAppTheme" >
		<activity android:name="com.chteuchteu.munin.ui.Activity_About" />
		<activity
			android:name="com.chteuchteu.munin.ui.Activity_Alerts"
			android:configChanges="orientation|screenSize|keyboardHidden" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_AlertsPluginSelection" />
		<activity
			android:name="com.chteuchteu.munin.ui.Activity_GraphView" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Grid" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Grids" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Labels" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Label" />
		<activity
			android:name="com.chteuchteu.munin.ui.Activity_Main"
			android:icon="@drawable/launcher_icon"
			android:label="@string/app_name"
			android:theme="@style/MyAppTheme" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.chteuchteu.munin.ui.Activity_Notifications" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Plugins" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_ServersEdit" />
		<activity
			android:name="com.chteuchteu.munin.ui.Activity_Server"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:windowSoftInputMode="stateHidden|adjustResize" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Servers" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_Settings" />
		<activity android:name="com.chteuchteu.munin.ui.Activity_GoPremium" />

		<!-- GraphWidget -->
		<receiver android:name=".wdget.Widget_GraphWidget_WidgetProvider"
				  android:label="@string/graphwidgetname">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
				<action android:name="com.chteuchteu.munin.widget.UPDATE_GRAPH" />
				<action android:name="com.chteuchteu.munin.widget.START_ACTIVITY" />
				<action android:name="com.chteuchteu.munin.widget.START_PREMIUM" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_graphwidget_meta" />
		</receiver>

		<activity
			android:name=".wdget.Widget_GraphWidget_Configure"
			android:theme="@android:style/Theme.Dialog" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<!-- AlertsWidget -->
		<receiver android:name=".wdget.Widget_AlertsWidget_WidgetProvider"
				  android:label="@string/alertswidgetname">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
				<action android:name="com.chteuchteu.munin.widget2.REFRESH" />
				<action android:name="com.chteuchteu.munin.widget2.START_ACTIVITY" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_alertswidget_meta" />
		</receiver>

		<activity
			android:name=".wdget.Widget_AlertsWidget_Configure"
			android:theme="@android:style/Theme.Dialog" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<service android:name=".wdget.Widget_AlertsWidget_WidgetService"
				 android:permission="android.permission.BIND_REMOTEVIEWS" />

		<!-- Notifications -->
		<receiver android:name=".BootReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service
			android:name=".Service_Notifications"
			android:enabled="true" />

		<meta-data
			android:name="com.crashlytics.ApiKey"
			android:value="b7bc84aa870bd35d3de03f69309f1748a52354a4" />
	</application>

</manifest>