<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chteuchteu.munin">

	<!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<!-- Notifications -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.chteuchteu.munin.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.chteuchteu.munin.debug.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.google.android.c2dm.permission.SEND" />


	<!-- Bug Fix (font size with locale) -->
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true" />

	<application
		android:allowBackup="true"
		android:configChanges="locale|layoutDirection"
		android:icon="@drawable/launcher_icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:fullBackupContent="true"
		android:name="com.chteuchteu.munin.App"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">

		<activity android:name=".ui.Activity_About"
				  android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Alerts"
				  android:configChanges="layoutDirection|locale|orientation|screenSize|keyboardHidden" />
		<activity android:name=".ui.Activity_AlertsPlugins" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Grid"
				  android:configChanges="layoutDirection|locale|orientation|screenSize|keyboardHidden"/>
		<activity android:name=".ui.Activity_Grids" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_GraphView" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Labels" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Main"
				  android:icon="@drawable/launcher_icon"
				  android:label="@string/app_name"
				  android:theme="@style/AppTheme" android:configChanges="layoutDirection|locale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.Activity_Notifications" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Plugins" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Server"
				  android:configChanges="layoutDirection|locale|orientation|screenSize|keyboardHidden"
				  android:windowSoftInputMode="stateHidden|adjustResize" />
		<activity android:name=".ui.Activity_Servers" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_Settings" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_GoPremium" android:configChanges="layoutDirection|locale" />
		<activity android:name=".ui.Activity_IgnoreNotification"
				  android:theme="@style/Transparent"
				  android:noHistory="true"
				  android:taskAffinity=""
				  android:excludeFromRecents="true" />

		<!-- Pull notifications -->
		<receiver android:name=".ntfs.poll.BootReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service
			android:name=".ntfs.poll.Service_PollNotifications"
			android:enabled="true" />

		<!-- GraphWidget -->
		<receiver android:name=".wdget.Widget_GraphWidget_WidgetProvider"
				  android:label="@string/graphwidgetname">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
				<action android:name="com.chteuchteu.munin.widget.UPDATE_GRAPH" />
				<action android:name="com.chteuchteu.munin.widget.START_ACTIVITY" />
				<action android:name="com.chteuchteu.munin.widget.START_PREMIUM" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_graphwidget_meta" />
		</receiver>
		<activity android:name=".wdget.Widget_GraphWidget_Configure"
				  android:theme="@android:style/Theme.Dialog" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<!-- AlertsWidget -->
		<receiver android:name=".wdget.Widget_AlertsWidget_WidgetProvider"
				  android:label="@string/alertswidgetname">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
				<action android:name="com.chteuchteu.munin.widget2.REFRESH" />
				<action android:name="com.chteuchteu.munin.widget2.START_ACTIVITY" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_alertswidget_meta" />
		</receiver>
		<activity android:name=".wdget.Widget_AlertsWidget_Configure"
				  android:theme="@android:style/Theme.Dialog" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<service android:name=".wdget.Widget_AlertsWidget_WidgetService"
				 android:permission="android.permission.BIND_REMOTEVIEWS" />

		<!-- Crashlytics -->
		<meta-data
			android:name="com.crashlytics.ApiKey"
			android:value="b7bc84aa870bd35d3de03f69309f1748a52354a4" />

		<!-- Firebase Cloud Messaging -->
        <service
            android:name=".ntfs.push.FcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
	</application>
</manifest>
